<!-- Footer Component -->
<footer class="footer">
    <div class="footer-information">
        <figure class="steps">
            <span class="steps-icon icon-shopping-bag"></span>
            <figcaption class="steps-description">
                <h5 class="title">Seguimiento de Compras</h5>
                <p class="description">Revisa el estado de tus productos</p>
            </figcaption>
        </figure>
        <figure class="steps">
            <span class="steps-icon icon-user-check"></span>
            <figcaption class="steps-description">
                <h5 class="title">Cambios y Devoluciones</h5>
                <p class="description">Devolver y cambiar es parte de elegir</p>
            </figcaption>
        </figure>
        <figure class="steps">
            <span class="steps-icon icon-message-circle"></span>
            <figcaption class="steps-description">
                <h5 class="title">¿Necesitas ayuda?</h5>
                <p class="description">Escribenos tus dudas y consultas</p>
            </figcaption>
        </figure>
    </div>
    <div class="footer-navs">
        <div class="container">
            <div class="navigations">
                <nav class="navigations-links">
                    <h5 class="title">Corporativo</h5>
                    <a href="#" class="link">Tarjeta Ripley</a>
                    <a href="#" class="link">Banco Ripley</a>
                    <a href="#" class="link">Seguros Ripley</a>
                    <a href="#" class="link">Ventas Empresas</a>
                    <a href="#" class="link">Nuestras Tiendas</a>
                    <a href="#" class="link">Inversionistas</a>
                    <a href="#" class="link">Ripley Peru</a>
                    <a href="#" class="link">Portal Personas</a>
                    <a href="#" class="link">Trabaja en Ripley</a>
                </nav>
                <nav class="navigations-links">
                    <h5 class="title">Información y Politicas</h5>
                    <a href="#" class="link">Terminos y Condiciones</a>
                    <a href="#" class="link">Bases Legales</a>
                    <a href="#" class="link">Ganadores de Concursos</a>
                    <a href="#" class="link">Preguntas Frecuentes</a>
                    <a href="#" class="link">Recuperar Boletas</a>
                    <a href="#" class="link">Devolución de Productos</a>
                </nav>
                <nav class="navigations-links">
                    <h5 class="title">Destacados</h5>
                    <a href="#" class="link">RipleyPuntos</a>
                    <a href="#" class="link">Mercado Ripley</a>
                    <a href="#" class="link">Club Novi@os</a>
                    <a href="#" class="link">Club Home</a>
                    <a href="#" class="link">Club Mamá</a>
                    <a href="#" class="link">Club Gira de Estudios</a>
                    <a href="#" class="link">Club Kids</a>
                    <a href="#" class="link">Club Mascota</a>
                    <a href="#" class="link">Club Fitness</a>
                    <a href="#" class="link">Ofertas Kioscos</a>
                </nav>
            </div>
            <div class="newsletter">
                <form class="newsletter-box">
                    <h5 class="title">Suscríbete</h5>
                    <div class="fields">
                        <input type="text" placeholder="Ingresa tu correo" class="fields-input">
                        <button class="fields-btn">Suscribete</button>
                    </div>
                </form>
                <div class="newsletter-box">
                    <h5 class="title">Medios de Pago</h5>
                    <div class="brands">
                        <span class="brands-icon icon-Mastercard-icon"></span>
                        <span class="brands-icon icon-Visa_Inc_logo"></span>
                    </div>
                </div>
                <div class="newsletter-box">
                    <h5 class="title">Síguenos</h5>
                    <div class="social">
                        <div class="social-cnt social-cnt--twitter">
                            <span class="icon icon-twitter1"></span>
                        </div>
                        <div class="social-cnt social-cnt--facebook">
                            <span class="icon icon-facebook1"></span>
                        </div>
                        <div class="social-cnt social-cnt--youtube">
                            <span class="icon icon-youtube1"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="terms">
            <h6 class="terms-title">Seguridad y Privacidad Garantizada SSL Secure GlobalSign. Comprar en Ripley.com es 100% seguro.</h6>
            <p class="terms-description">Comercial ECCSA S.A., Rut N° 83.382.700-6, domiciliada en Avenida Cerro Colorado 5240, Torre del Parque 1 Piso 11, comuna Las Condes, Santiago de Chile. Precios publicados aplican exclusivamente a Internet y Venta Telefónica, estos pueden llegar a ser distintos en tiendas.</p>
        </div>
    </div>
</footer>