@import 'variables';
.footer {
    &-information {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffb81c;
        padding: 1rem 0;
        .steps {
            text-align: center;
            color: map-get($colors, text);
            margin-right: 1rem;
            width: 200px;
            &:last-child {
                margin: 0;
            }
            &-icon {
                font-size: 2.5rem;
                background: white;
                border-radius: 50%;
                margin-bottom: 1rem;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto .325rem auto;
            }
            &-description {
                .title {
                    font-size: .875rem;
                }
                .description {
                    font-size: .875rem;
                }
            }
        }
    }
    &-navs {
        background: #2f2f2f;
        padding: 3.5rem;
        .container {
            max-width: $wrapper;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .navigations {
                display: flex;
                justify-content: space-between;
                &-links {
                    margin-right: 4rem;
                    color: map-get($colors, white);
                    &:last-child {
                        margin: 0;
                    }
                    .title {
                        margin-bottom: 1.5rem;
                    }
                    .link {
                        display: block;
                        color: white;
                        text-decoration: none;
                        font-size: .825rem;
                        margin-bottom: .425rem;
                        &:hover {
                           color: map-get($colors, text); 
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
            .newsletter {
                &-box {
                    width: 344px;
                    margin-bottom: 1.5rem;
                    &:last-child {
                        margin: 0;
                    }
                    .title {
                        color: map-get($colors, white);
                        margin-bottom: .5rem;
                    }
                    .fields {
                        display: flex;
                        align-items: center;
                        &-input {
                            width: 60%;
                            padding: .75rem;
                            border-radius: .325rem 0 0 .325rem;
                            border: none;
                            background: map-get($colors, white);
                            outline: none;
                            font-size: .85rem;
                        }
                        &-btn {
                            background: #ffb81c;
                            color: map-get($colors, text);
                            outline: none;
                            border: none;
                            border-radius: 0 .325rem .325rem 0;
                            padding: .75rem;
                            width: 40%;
                            cursor: pointer;
                            font-size: .825rem;
                            transition: .3s ease-in;
                            &:hover {
                                background: #ffd373;
                            }
                        }
                    }
                    .brands {
                        display: flex;
                        align-items: center;
                        &-icon {
                            font-size: 1.5rem;
                            color: map-get($colors, white);
                            margin-right: .325rem;
                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                    .social {
                        display: flex;
                        align-items: center;
                        &-cnt {
                            padding: .5rem;
                            background: white;
                            margin-right: .5rem;
                            border-radius: 50%;
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            cursor: pointer;
                            transition: .3s ease-in;
                            &.social-cnt--twitter {
                                &:hover {
                                    background: #00b9ff;
                                    .icon {
                                        color: white;
                                    }
                                }
                            }
                            &.social-cnt--facebook {
                                &:hover {
                                    background: #3b5998;
                                    .icon {
                                        color: white;
                                    }
                                }
                            }
                            &.social-cnt--youtube {
                                &:hover {
                                    background: #FF0000;
                                    .icon {
                                        color: white;
                                    }
                                }
                            }
                            .icon {
                                color: map-get($colors, text);
                            }
                        }
                    }
                }
            }
        }
        .terms {
            max-width: $wrapper;
            margin: 3rem auto 0 auto;
            text-align: center;
            &-title {
                color: map-get($colors, white);
                font-weight: map-get($weight, medium);
                margin-bottom: 1rem;
            }
            &-description {
                color: map-get($colors, text);
                font-size: .625rem;
            }
        }
    }
}

@media screen and (max-width: 768px) { 
    .footer {
        &-navs {
            .navigations {
                width: 100%;
            }
            .newsletter {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 414px) { 
    .footer {
        &-information {
            display: none;
        }
        &-navs {
            padding: 1.5rem;
            .container {
                .navigations {
                    display: block;
                    &-links {
                        display: block;
                        margin: 0 0 2rem 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}
