@import 'variables';
.checkout {
    height: 100vh;
    background: #f4f4f4;
    &-container {
        max-width: $wrapper;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .pay {
            width: 60%;
            &-header {
                display: flex;
                align-items: center;
                padding: 1rem 0;
                .icon {
                    fill: #6a6a6a;
                    width: 30px;
                    margin-right: 1rem;
                }
                .title {
                    color: map-get($colors, text);
                    font-size: 1.625rem;
                }
            }
            &-form {
                .title {
                    margin-bottom: .725rem;
                    font-weight: map-get($weight, bold);
                    color: map-get($colors, purple);
                }
                .footer {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 1.5rem;
                    &-pay {
                        background: map-get($colors, purple);
                        color: map-get($colors, white);
                        padding: .75rem;
                        display: block;
                        width: 200px;
                        border: none;
                        outline: none;
                        font-size: .875rem;
                        font-weight: map-get($weight, semi-bold);
                        cursor: pointer;
                        transition: .4s ease-in;
                        &:disabled {
                            opacity: .65;
                            cursor: default;
                        }
                        &:hover {
                            background: #8e61be;
                        }
                    }
                }
                .container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .75rem;
                    .fields {
                        width: 330px;
                        &-label {
                            display: block;
                            font-size: .875rem;
                            color: map-get($colors, text);
                            font-weight: map-get($weight, semi-bold);
                            margin-bottom: .325rem;
                        }
                        &-input {
                            width: 100%;
                            padding: .875rem .5rem;
                            font-size: .875rem;
                            outline: none;
                            border: 1px solid #ccc;
                            &.fields-input--error {
                                border: 2px solid map-get($colors, red);
                            }
                        }
                        &-error {
                            color: map-get($colors, red);
                            font-size: .75rem;
                            font-weight: map-get($weight, semi-bold);
                            margin-top: .2rem;
                        }
                    }
                }
            }
        }
        .detail {
            width: 35%;
            height: 100vh;
            background: white;
            padding: 1.5rem;
            &-header {
                font-size: 1.1rem;
                color: map-get($colors, text);
            }
        }
    }
}