@import 'variables';
.checkout {
    height: 100vh;
    background: #f4f4f4;
    &-container {
        max-width: $wrapper;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .pay {
            width: 60%;
            &-header {
                display: flex;
                align-items: center;
                padding: 1rem 0;
                .icon {
                    fill: #6a6a6a;
                    width: 30px;
                    margin-right: 1rem;
                }
                .title {
                    color: map-get($colors, text);
                    font-size: 1.625rem;
                }
            }
            &-form {
                .title {
                    margin-bottom: .725rem;
                    font-weight: map-get($weight, bold);
                    color: map-get($colors, purple);
                }
                .footer {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 1.5rem;
                    &-pay {
                        background: map-get($colors, purple);
                        color: map-get($colors, white);
                        padding: .75rem;
                        display: block;
                        width: 200px;
                        border: none;
                        outline: none;
                        font-size: .875rem;
                        font-weight: map-get($weight, semi-bold);
                        cursor: pointer;
                        transition: .4s ease-in;
                        &:disabled {
                            opacity: .65;
                            cursor: default;
                        }
                        &:hover {
                            background: #8e61be;
                        }
                    }
                }
                .container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .75rem;
                    .fields {
                        width: 330px;
                        &-label {
                            display: block;
                            font-size: .875rem;
                            color: map-get($colors, text);
                            font-weight: map-get($weight, semi-bold);
                            margin-bottom: .325rem;
                        }
                        &-input {
                            width: 100%;
                            padding: .875rem .5rem;
                            font-size: .875rem;
                            outline: none;
                            border: 1px solid #ccc;
                            &.fields-input--error {
                                border: 2px solid map-get($colors, red);
                            }
                        }
                        &-error {
                            color: map-get($colors, red);
                            font-size: .75rem;
                            font-weight: map-get($weight, semi-bold);
                            margin-top: .2rem;
                        }
                    }
                }
            }
        }
        .detail {
            width: 35%;
            height: 100vh;
            background: white;
            padding: 1.5rem;
            &-header {
                font-size: 1.1rem;
                color: map-get($colors, text);
                margin-bottom: 1.5rem;
            }
            &-footer {
                font-size: 1.1rem;
                color: map-get($colors, text);
                margin-bottom: 1.5rem;
            }
            &-products {
                margin-bottom: 2rem;
                max-height: 400px;
                overflow-y: auto;
                .product {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1.2rem;
                    height: 60px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &-detail {
                        display: flex;
                        .picture {
                            width: 50px;
                            display: block;
                            margin-right: .625rem;
                        }
                        .info {
                            &-name {
                                display: block;
                                font-size: .675rem;
                                color: map-get($colors, text);
                                font-weight: map-get($weight, medium);
                                overflow:hidden;
                                white-space:nowrap;
                                text-overflow: ellipsis;
                                width: 130px;
                            }
                            &-quantity {
                                display: block;
                                font-size: .625rem;
                                text-transform: uppercase;
                                color: map-get($colors, text);
                                font-weight: map-get($weight, medium);
                            }
                            &-sku {
                                display: block;
                                text-transform: uppercase;
                                font-size: .625rem;
                                color: map-get($colors, text);
                                font-weight: map-get($weight, medium);
                            }
                        }
                    }
                    &-price {
                        .price {
                            display: flex;
                            align-items: center;
                            font-size: .675rem;
                            width: 145px;
                            color: map-get($colors, text);
                            margin-bottom: .2rem;
                            &:last-child {
                                margin: 0;
                            }
                            &.price--card {
                                color: map-get($colors, red);
                            }
                            &-label {
                                margin-right: .325rem;
                                font-weight: map-get($weight, medium);
                            }
                            &-value {
                                font-weight: map-get($weight, bold);
                            }
                        }
                    }
                }
            }
            &-summary {
                margin-bottom: 1.5rem;
                .subtotal {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: .875rem;
                    color: map-get($colors, text);
                    font-weight: map-get($weight, normal);
                    border-bottom: 1px solid #ccc;
                    padding-bottom: .75rem;
                    margin-bottom: .875rem;
                }
                .total {
                    &-value {
                        margin-bottom: .225rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: .875rem;
                        font-weight: map-get($weight, semi-bold);
                        color: map-get($colors, text);
                        &:last-child {
                            margin: 0;
                        }
                        &.total-value--ripley {
                            color: map-get($colors, red);
                        }
                    }
                }
            }
            &-continue {
                display: block;
                text-align: center;
                text-decoration: none;
                font-weight: map-get($weight, semi-bold);
                color: map-get($colors, purple);
                font-size: .875rem;
            }
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media screen and (max-width: 414px) { 
    .checkout {
        &-container {
            display: block;
            padding: .325rem;
            .pay {
                width: 100%;
                margin-bottom: 2rem;
                &-form {
                    .container {
                        .fields {
                            &-input {
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .detail {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .checkout {
        &-container {
            .detail {
                &-products {
                    .product {
                        &-price {
                            .price {
                                width: 100%;
                                &-label {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 