/* You can add global styles to this file, and also import other style files */
@import '_variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size:16px; // 1rem;
    margin: 0;
    font-family: $font-mont;
    background: map-get($colors, white);
}