@import 'variables';
.success {
    background: #f4f4f4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-title {
        font-size: 2.5rem;
        color: map-get($colors, purple);
        text-align: center;
        margin-bottom: 1.325rem;
    }
    &-return {
        background: map-get($colors, purple);
        color: map-get($colors, white);
        font-size: .875rem;
        display: block;
        width: 200px;
        border-radius: 3rem;
        outline: none;
        border: none;
        padding: .625rem;
        cursor: pointer;
    }
}